<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <section class="header-content">
            <div class="header-logo">
                <h2>Servicio Tecnico</h2>
            </div>
            <div class="header-nav-bar">
                <nav class="nav-bar-content">
                    <ul class="nav-bar-list">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'home' %}">inicio</a>
                            </li>
                            <li>
                                <a href="">sobre nosotros</a>
                            </li> 
                            <li>
                                <a href="{% url 'panelPC' %}" onclick="cargar_bienvenida()">panel de control</a>
                            </li>
                            <li>
                                <a href="{% url 'salir' %}">cerrar sesión</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">iniciar sesión</a>
                            </li>
                            <li>
                                <a href="{% url 'registro_usuario' %}">registrarse</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    {% block contenido %}
    {% endblock %}
</body>
</html>